@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* #FFFFFF */
    --foreground: 0 0% 14%; /* #252525 */
    --card: 0 0% 93%; /* #F2F2F2 */
    --card-foreground: 0 0% 14%; /* #252525 */
    --popover: 0 0% 93%; /* #F2F2F2 */
    --popover-foreground: 0 0% 14%; /* #252525 */
    --primary: 52 97% 51%; /* #F9ED32 */
    --primary-foreground: 0 0% 14%; /* #252525 */
    --secondary: 0 0% 98%; /* #FAFAFA */
    --secondary-foreground: 0 0% 14%; /* #252525 */
    --muted: 0 0% 95%; /* #EDEDED */
    --muted-foreground: 0 0% 27%; /* #414141 */
    --accent: 52 97% 51%; /* #FFF225 */
    --accent-foreground: 0 0% 14%; /* #252525 */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 30%; /* #414141 */
    --input: 0 0% 30%; /* #414141 */
    --ring: 52 97% 51%; /* #F9ED32 */
    --radius: 0.5rem;
    --chart-1: 52 97% 51%; /* #F9ED32 */
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  .dark {
    --background: 0 0% 14%; /* #252525 */
    --foreground: 0 0% 96%; /* #FAFAFA */
    --card: 0 0% 20%; /* #131313 */
    --card-foreground: 0 0% 96%; /* #FAFAFA */
    --popover: 0 0% 20%; /* #131313 */
    --popover-foreground: 0 0% 96%; /* #FAFAFA */
    --primary: 52 97% 51%; /* #FFF225 */
    --primary-foreground: 0 0% 14%; /* #252525 */
    --secondary: 0 0% 18%; /* #2C2A2A */
    --secondary-foreground: 0 0% 96%; /* #FFFFFF */
    --muted: 0 0% 14%; /* #2C2A2A */
    --muted-foreground: 0 0% 27%; /* #414141 */
    --accent: 52 97% 51%; /* #FFF225 */
    --accent-foreground: 0 0% 8%; /* #131313 */
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 96%; /* #FFFFFF */
    --border: 0 0% 14%; /* #131313 */
    --input: 0 0% 14%; /* #131313 */
    --ring: 52 97% 51%; /* #F9ED32 */
    --chart-1: 52 97% 51%; /* #F9ED32 */
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

